/GoogleService-Info.plist
/tms-25-quiz.xcodeproj/project.xcworkspace/xcuserdata/vadympotapov.xcuserdatad/UserInterfaceState.xcuserstate
/tms-25-quiz.xcodeproj/xcuserdata/vadympotapov.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/tms-25-quiz.xcodeproj/xcuserdata/vadympotapov.xcuserdatad/xcschemes/xcschememanagement.plist
/tms-25-quiz.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/tms-25-quiz.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/tms-25-quiz.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
/tms-25-quiz.xcodeproj/project.xcworkspace/xcuserdata/vadympotapov.xcuserdatad/IDEFindNavigatorScopes.plist
/tms-25-quiz.xcodeproj/xcuserdata/arturigberdin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/tms-25-quiz.xcodeproj/xcuserdata/arturigberdin.xcuserdatad/xcschemes/xcschememanagement.plist
